:root {
  --gap-size: 10px;
  --card-color: #131315;
  --secondary-color: #131315;
  --bg-color: black;
  --main-text-color: rgb(255, 255, 255);
  --border-radius: 10px;
  --action-button-color: white;
}

.module {
  height: 100%;
  transform: translate3d(0, 50px, 0);
}

.come-in {
  /*transform: translateY(100px);*/
  transform: translate3d(0, 100px, 0);
  animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}

.already-visible {
  /*transform: translateY(0);*/
  transform: translate3d(0, 0, 0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translate3d(0, 0, 0);
  }
}

.buttons {
  font-size: 20px;
  font-weight: 700;
}

.buttons a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  width: 100vw;

  background: black;
}

.h1,
h3,
i,
div {
  color: var(--main-text-color);
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

.profile-img {
  border-radius: 50%;
}

.icon-top {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.icon-top i {
  margin-bottom: 10px;
}

.action a {
  text-decoration: none;
  font-size: 20px;
  width: 80%;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.01em;
  border: none;
  padding: 10px;
  border-radius: 99px;
  background-color: #ff5e1a;
  color: white;
}

.grid {
  margin-top: 10px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  background: var(--bg-color);
  border: var(--gap-size) solid var(--bg-color);

  grid-gap: var(--gap-size);
  height: 100%;

  width: 100%;
  display: grid;
  grid-template-rows: 0.5fr 2fr 1fr;
}

.bottom-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: var(--gap-size);
}



.bottom-grid div {
  background: var(--card-color);
  padding: 20px;
}

.top-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: var(--gap-size);
}

.top-grid div {
  background: var(--card-color);
}

.middle-grid {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-gap: var(--gap-size);
}

.left-grid {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-gap: var(--gap-size);
}

.middle-grid div {}

.action {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  overflow: hidden;
  background: var(--card-color);
  padding: 40px 48px;
}

.action h1 {
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: 500;
}

.info i {
  font-size: 50px;
  margin-bottom: 10px;
}

.info h1 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 65px;
  font-weight: 500;
}

.main-icon {
  display: flex;
}

.main-icon i {
  margin-right: 10px;
}

.info span {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 65px;
  font-weight: 500;
}

.calgary-red {
  color: rgb(183, 43, 53);
}

.red-deer-red {
  color: rgb(176, 61, 39);
}

.action h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 56px;
  line-height: 64px;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 0;
  overflow: hidden;
  background: var(--card-color);
  padding: 40px 48px;
  text-align: left;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile img {
  position: relative;
  height: 100%;
  width: 100%;
  /*   background-image: url("https://i.ibb.co/T29qRLH/Screenshot-2023-09-29-at-11-42-23-PM.png"); */

  filter: grayscale(100%);
  z-index: 1;
}

.action-buttons {
  display: flex;
  width: 100%;
  grid-gap: var(--gap-size);
  background: var(--bg-color);
  border-top: var(--gap-size) solid var(--bg-color);
}

.action-buttons h3,
.action-buttons i {
  color: var(--action-button-color);
}

.action-buttons h3 {
  width: 100%;

  background: var(--secondary-color);

  oveflow: hidden;
}

div {
  border-radius: var(--border-radius);
}

h1,
h3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.top-grid div,
.bottom-grid div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

i {
  margin-right: 3px;
}

.top-grid div {
  cursor: pointer;
}

/* div {
  border-radius: 10px;
} */
.buttons:hover {
  background: black;
}

.modal-button {
  cursor: pointer;
  background-color: var(--Card-Color);
  font-weight: 700;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-size: 20px;
  color: var(--main-text-color);
}

.modal {
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: end;
  position: fixed;
  background-color: rgba(255, 192, 203, 0.4);
}

.modal-content {
  position: relative;
  cursor: auto;
  width: 70vw;
  height: 100%;
  background-color: black;
  font-weight: 700;
  border-radius: 10px;
  font-size: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 40px;
  overflow: scroll;

}

.modal-content span {
  cursor: pointer;
}

.modal-content p {
  font-size: large;
}

.modal-close {
  display: block;
}

.top-grid:hover #slide {
  transition: 1s;
  left: 0;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 900px) {
  .grid {
    height: auto;
    max-width: 100%;
  }

  .top-grid {
    grid-template-columns: 1fr;
  }

  .middle-grid {
    grid-template-columns: 1fr;
  }

  .bottom-grid {
    grid-template-columns: none;
    grid-auto-columns: 1fr 1fr;
  }


  .bottom-grid div {
    grid-column: 1;
  }

  .bottom-grid:last-child {
    grid-column: 1;
  }

  .left-grid {
    grid-template-columns: 1fr;
  }

  .bottom-grid div .bottom-grid div {
    min-height: 30px;
  }

  /* .module {
    height: 100%;
    transform: none;
  } */

  .modal-content {
    width: 90vw;
  }

}